<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.mentality.dao.EventDAO">



    <insert id="AddEvent" parameterType="com.bishe.mentality.entity.Event">
        insert into t_event values(#{E_no},#{s_no},#{e_type},#{e_name},#{e_detail},#{e_score})
    </insert>


    <select id="FindAllEvent" resultType="com.bishe.mentality.entity.Event">
        select E_no,s_no,e_type,e_name,e_detail,e_score from t_event
    </select>

    <select id="FindEventById" parameterType="String" resultType="com.bishe.mentality.entity.Event">
        select E_no,s_no,e_type,e_name,e_detail,e_score  from t_event WHERE s_no=#{s_no}
    </select>

    <select id="FindEventByEno" parameterType="int" resultType="com.bishe.mentality.entity.Event">
        select E_no,s_no,e_type,e_name,e_detail,e_score  from t_event WHERE E_no=#{E_no}
    </select>

    <update id="updateScore" parameterType="int">
        update t_event set e_score=#{e_score} WHERE E_no=#{E_no}
    </update>
    <select id="RankScore" resultType="com.bishe.mentality.entity.ScoreAndStu">
        SELECT SUM(e_score) as e_score ,s.s_college,s.s_no,s.s_name,s.s_grade,s.s_gender FROM t_event e inner JOIN t_student s WHERE e.s_no=s.s_no GROUP BY e.s_no ORDER BY SUM(e_score) DESC
    </select>

    <select id="countEventCollege" resultType="com.bishe.mentality.entity.collegeSum">
        SELECT COUNT(*) as nums,s.s_college FROM t_student s INNER JOIN t_event e WHERE s.s_no=e.s_no GROUP BY s.s_college ORDER BY COUNT(*) DESC
    </select>
    <select id="avgsEventCollege" resultType="com.bishe.mentality.entity.collegeAvg">
        SELECT AVG(e.e_score) as avgs,s.s_college FROM t_student s INNER JOIN t_event e WHERE s.s_no=e.s_no GROUP BY s.s_college ORDER BY AVG(e.e_score) DESC
    </select>

</mapper>